.wrapper {
    box-shadow: 0px 0px 8px 0px #cccccc4d;
    margin-bottom: 20px;
    cursor: pointer;

    .img {
        img {
            width: 100%;
        }
    }

    .info {
        padding: 1.25rem;

        .name {
            font-size: 1.25rem;
            line-height: 1.2;
            margin-bottom: 12px;
        }

        .description {
            color: #a6a6ab;
            min-height: 60px;
        }

        .price {
            text-align: right;
        }
    }
}