.wrapper {
    border-radius: 22px;
    width: 156px;
    height: 32px;
    border: none;
    background-color: #fff;
    font-weight: bolder;
    font-size: 1rem;
    border: 1px solid #000;

    &.black {
        background-color: #000;
        color: #fff;
    }
}